<div class="main-container">
  <h2 class="text-center">{{ title }}</h2>

  <div *ngIf="productList?.length > 0" class="p-toolbar toolbar-section">
    <div class="p-inputgroup search-area">
      <span class="p-inputgroup-addon">
        <i class="pi pi-search"></i>
      </span>
      <input
        pInputText
        [(ngModel)]="searchValue"
        (keyup)="onSearchTyping($event.target.value)"
        placeholder="Search for products"
        type="text"
      />
    </div>

    <div (click)="openCheckoutAndPaymentModal()" class="cursor-pointer">
      <i
        pBadge
        class="pi pi-shopping-cart main-shopping-cart"
        [value]="numberOfProductsInCart() > 0 ? numberOfProductsInCart() : 0"
      ></i>
    </div>
  </div>

  <p-table
    *ngIf="productList?.length > 0"
    [value]="filteredProducts"
    [paginator]="false"
  >
    <ng-template pTemplate="emptymessage">
      <tr>
        <td class="text-center" colspan="4">No results found</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th class="table-header-cell">Name</th>
        <th
          class="table-header-cell table-header-cell-c-pointer"
          (click)="sortProducts()"
          [title]="!isAscendingSort ? 'Reorder ASC' : 'Reorder DESC'"
        >
          Price
          <ng-container>
            <span
              *ngIf="isAscendingSort && ordered != ''"
              class="pi pi-sort-amount-down-alt cart-icon"
            ></span>
            <span
              *ngIf="!isAscendingSort && ordered != ''"
              class="pi pi-sort-amount-down cart-icon"
            ></span>
          </ng-container>
        </th>
        <th class="table-header-cell">Quantity</th>
        <th class="table-header-cell">Add to cart</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-i="rowIndex">
      <tr [style.text-align]="'center'">
        <td class="cursor-pointer text-center" (click)="addQuantity(product)">{{ product.name }}</td>
        <td class="text-center">
          {{ formatToGermanCurrency(product.price) }}
        </td>
        <td class="td-actions text-center">
          <ng-container>
            <span
              class="pi pi-minus-circle cursor-pointer quantity-icon quantity-icon-remove"
              [title]="product.quantity != 0 ? 'Remove 1 ' + product.name : ''"
              [class.disabled-icon]="product.quantity == 0"
              (click)="removeQuantity(product)"
            ></span>
            {{ product.quantity }}
            <span
              class="pi pi-plus-circle cursor-pointer quantity-icon quantity-icon-add"
              [title]="product.quantity != 20 ? 'Add 1 ' + product.name : ''"
              [class.disabled-icon]="product.quantity >= 20"
              (click)="addQuantity(product)"
            ></span>
          </ng-container>
        </td>

        <td class="td-actions text-center">
          <ng-container>
            <span
              class="pi pi-cart-plus cursor-pointer checkout-icon"
              [title]="product.quantity != 0 && !product.onCart ? 'Add ' + product.name + ' to cart' : ''"
              [style.color]="!product.onCart && product.quantity != 0 ? 'green' : 'gray'"
              [class.disabled-icon]="product.onCart || product.quantity == 0"
              (click)="addOnCart(product)"
            ></span>
            <span
              class="pi pi-trash cursor-pointer checkout-icon"
              [title]="product.quantity != 0 && product.onCart ? 'Remove ' + product.name + ' from cart' : ''"
              [style.color]="product.onCart ? 'red' : 'gray'"
              [class.disabled-icon]="!product.onCart"
              (click)="removeFromCart(product)"
            ></span>
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <app-spinner [isLoading]="isLoading"></app-spinner>
</div>
