.text-center {
  font-family: 'ui-monospace' !important;
  letter-spacing: 2px;
}


.remove-icon {
  padding: 0px 10px;
  position: relative;
  top: 6px;
  color: red
}

.add-icon {
  padding: 0px 10px;
  position: relative;
  top: 6px;
  color: green
}

.cart-icon {
  padding: 0px 10px;
  position: relative;
  top: 6px;
}

.disabled-icon {
  pointer-events: none;
  color: gray;
}

.badge-notify {
  background: #f43a4c;
  position: relative;
  border-radius: 50px;
  font-size: 11px;
  top: -25px;
  left: -25px;
}
