.td-actions .btn {
  margin: 0px;
  padding: 2px;

  &.btn-icon {
    color: #999999;

    &:hover {
      color: #666666;
    }
  }
}

.quantity-icon {
  padding: 0px 10px;
  position: relative;
  font-size: 26px;
  top: 5px;

  &-remove {
    color: red
  }

  &-add {
    color: green;
  }
}

.checkout-icon {
  font-size: 26px;
  padding: 0px 10px;
}

.cart-icon {
  padding: 0px 10px;
  position: relative;
  top: 6px;
}

.disabled-icon {
  pointer-events: none;
  color: gray;
}
