<div class="tab-section-container" style="margin: 20px auto; display: flex; flex-direction: column; justify-content: space-around;">
  <div *ngFor="let product of addedProducts" class="products-overview">
    <div class="info-columns">
      <span
        class="pi pi-trash cursor-pointer checkout-icon remove-icon"
        (click)="removeProduct(product)"
      >
      </span>
      {{product.name}}
    </div>

    <div class="info-columns">
      <ng-container>
        <span
          class="pi pi-minus-circle cursor-pointer quantity-icon quantity-icon-remove"
          [title]="product.quantity != 0 ? 'Remove 1 ' + product.name : ''"
          [class.disabled-icon]="product.quantity == 0"
          (click)="removeQuantity(product)"
        ></span>
        {{ product.quantity }}
        <span
          class="pi pi-plus-circle cursor-pointer quantity-icon quantity-icon-add"
          [title]="product.quantity != 20 ? 'Add 1 ' + product.name : ''"
          [class.disabled-icon]="product.quantity >= 20"
          (click)="addQuantity(product)"
        ></span>
      </ng-container>
    </div>

    <div class="info-columns">
      <span>
        {{this.formatToGermanCurrency(product)}}
      </span>
    </div>
  </div>

  <div class="text-center margin-top-base">
    <h4>
      Total price: <h3><strong>{{this.totalPrice()}}</strong></h3>
    </h4>
  </div>

  <div class="text-center margin-top-base">
    <p-button
      type="button"
      label="Confirm products"
      class="p-button-sm p-button-rounded p-button-primary"
      (onClick)="confirmProducts(1)"
    ></p-button>
  </div>
</div>
