<div class="modal-body">
  <div class="tab-menu-wrapper">
    <p-tabMenu [activeItem]="activeItem" [model]="tabsMenu"></p-tabMenu>
  </div>

  <div *ngIf="activeItem === tabsMenu[0]" class="scrollable-section">
    <app-cart
      [addedProducts]="addedProducts"
      (onConfirm)="selectTab($event)"
      (onAddQuantity)="addQuantity($event)"
      (onRemoveQuantity)="removeQuantity($event)"
      (onRemoveProduct)="removeProduct($event)"
    >
    </app-cart>
  </div>

  <div *ngIf="activeItem === tabsMenu[1]" class="scrollable-section">
    <app-shipping
      (onNextTab)="selectTab($event)"
    >
    </app-shipping>
  </div>

  <div *ngIf="activeItem === tabsMenu[2]" class="scrollable-section">
    <app-payment
      (onNextTab)="selectTab($event)"
    >
    </app-payment>
  </div>

  <div *ngIf="activeItem === tabsMenu[3]" class="scrollable-section">
    <app-checkout
      [addedProducts]="addedProducts"
      (onNextTab)="selectTab($event)"
    >
    </app-checkout>
  </div>
</div>
