@import './variables.scss';

.main-container {
  background-color: #f0f0f0;
  padding: $spacing-unit;
  margin: $spacing-unit;
  border-radius: 8px;
}

// Small devices (landscape phones, 350px and up)
@media (min-width: 350px) {
  .main-container {
    width: 99%;
    margin: 0 auto;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .main-container {
    width: 99%;
    margin: 0 auto;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .main-container {
    width: 90%;
    margin: 10px auto;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .main-container {
    width: 80%;
    margin: 10px auto;
  }
}

html {
  font-family: verdana !important;
}

.text-center {
  text-align: center;
}

.margin-top-base {
  margin-top: 20px
}

.cursor-pointer {
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.tab-section-container {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-item-flex {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.gap-4 > * {
  margin-bottom: 4px;
}
