.td-actions .btn {

  margin: 0px;
  padding: 2px;

  &.btn-icon {
    color: #999999;

    &:hover {
      color: #666666;
    }

  }

}



.remove-icon {
  padding: 0px 10px;
  position: relative;
  top: 6px;
  color: red
}

.add-icon {
  padding: 0px 10px;
  position: relative;
  top: 6px;
  color: green
}

.cart-icon {
  padding: 0px 10px;
  position: relative;
  top: 6px;
}

.disabled-icon {
  pointer-events: none;
  color: gray;
}

.badge-notify {
  background: #f43a4c;
  position: relative;
  border-radius: 50px;
  font-size: 11px;
  top: -25px;
  left: -25px;
}
