<div class="tab-section-container">
  <h5 class="text-center">Products in cart</h5>
  <div *ngFor="let product of addedProducts" style="width: 40%; display: flex; flex-direction: row; justify-content: space-around; margin: 10px auto;">
    <div style="width: 30%;"><strong>{{product.name}}</strong> </div>
    <div style="width: 30%; text-align: center;">
      <strong>
        {{product.quantity}}
      </strong>
    </div>
    <div style="width: 30%; text-align: right;">{{this.formatToGermanCurrency(product)}}</div>
  </div>

  <div class="text-center margin-top-base">
    <h4>
      Total price: <h3><strong>{{this.totalPrice()}}</strong></h3>
    </h4>
  </div>
  <hr />

  <app-shipping
    [isCheckoutStep]="false"
  ></app-shipping>

  <app-payment
    [isCheckoutStep]="false"
  ></app-payment>

  <div class="text-center margin-top-base">
    <p-button
      type="button"
      label="Finish"
      class="p-button-sm p-button-rounded p-button-primary"
      (click)="finishBuying()"
    ></p-button>
  </div>

</div>
