<div class="tab-section-container">

  <h5 style="text-align: center;;">Products in cart</h5>
  <div class="form-row" *ngFor="let product of addedProducts" style="padding:10px;">
    <div class="col-md-5" style="width:35%; padding-top:2px;"><strong>{{product.name}}</strong> </div>
    <div class="col-md-4" style="width:35%;">
      <strong>
        {{product.quantity}}
      </strong>
    </div>
    <div class="col-md-3" style="width:20%; padding-top:5px;">{{this.formatToGermanCurrency(product)}}</div>
  </div>

  <div class="text-center margin-top-base">
    <div class="col-12">
      <h4>Total price: <h3><strong>{{this.totalPrice()}}</strong></h3>
      </h4>
    </div>
  </div>
  <hr />

  <app-shipping
    [isCheckoutStep]="false"
    (onNextTab)="selectTab($event)"
  ></app-shipping>

  <app-payment
    [isCheckoutStep]="false"
    (onNextTab)="selectTab($event)"
  ></app-payment>

  <div class="form-row text-center margin-top-base">
    <div class="col-12">
      <button
        type="button"
        class="btn btn-primary btn-sm"
        (click)="selectTab(4)"
      >
        I confirm my data
      </button>
    </div>
  </div>

</div>
